body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "container map right";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    
}

.container {
    /* justify-content: center; */
    display: grid;
    grid-area:auto;
    padding: 10px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}



.map {
    grid-area: map;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    background-color: #e0e0e0;
    
}

.right {
    /* grid-area: right; */
    padding: 20px;
    /* display:block; */
    /* display: grid; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
}

.sensor-holder {
    max-height: 100%; /*Максимальная высота контейнера  */
    overflow-y: auto; /* Вертикальная прокрутка */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

select, button {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.chart {
    height: 50%;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

#logout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    align-self: flex-end;
    position: absolute;
    top:0px;
    right:0px;
}

.charts {
    height: 100%;
/* grid-area: charts; */
display: flex;
flex-direction: column;
padding: 10px;
box-sizing: border-box;
}

#sens_type_create{
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-content: center;
    flex-direction: column;
}